/* --------------------------------

Primary style

-------------------------------- */


/* *,
*::after,
*::before {
    box-sizing: border-box;
}
 */

html {
    font-size: 62.5%;
}

/* html {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(desaturate.svg#grayscale);
    filter: progid: DXImageTransform.Microsoft.BasicImage(grayscale=1);
    -webkit-filter: grayscale(1);
} */

body {
    margin: 0;
    font: 12px \5b8b\4f53, 黑体, sans-serif;
    background: #fff
}

a {
    /* color: #252525; */
    text-decoration: none;
}

.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

.pos-f {
    position: fixed;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tc {
    text-align: center;
}


/* test */

.tb {
    background-color: #0ff;
}

.tr {
    background-color: #f0f;
}

.ty {
    background-color: #ff0;
}

body {
    min-width: 1200px;
}

.globalwidth {
    margin: 0 auto;
    width: 1200px;
    min-width: 1200px;
}


/* 登录 */

.login {
    height: 28px;
    width: 100%;
    background-color: #101010;
    font-size: 14px;
}

.login .leg {
    left: 200px;
    line-height: 28px;
    font-size: 16px;
    color: #BEBEBE;
}

.login p {
    text-align: right;
    line-height: 28px;
    color: #BEBEBE;
}

.login p a {
    color: #BEBEBE;
}

.login p span {
    color: #FC6620;
}


/* 底部 */

.footer {
    height: 470px;
    border-top: 6px solid #ff6600;
}

.footer .footer-icon {
    height: 94px;
    background-color: #f2f2f2;
}

.footer .footer-icon ul {
    padding-top: 20px;
    margin: 0 auto;
    width: 844px;
}

.footer .footer-icon ul li {
    float: left;
    width: 211px;
    text-align: center;
}

.footer-dl {
    /*     padding-left: 275px;
    padding-top: 20px; */
    height: 180px;
    width: 925px;
}

.footer-dl .footer-title {
    left: 260px;
}

.footer-dl dl {
    float: left;
    width: 157px;
}

.footer-dl dt {
    font-size: 18px;
    line-height: 35px;
    color: #000;
}

.footer-dl dd {
    font-size: 16px;
    line-height: 28px;
}

.footer-dl dd a {
    color: #666;
}

.footer-dl .footer-logo {
    right: 20px;
    bottom: 90px;
}

.footer-copyright p {
    padding-top: 10px;
    color: #333;
    font-size: 14px;
    text-align: center;
}

.footer-copyright p a {
    color: #333;
}


/* 二维码 */

#twocode {
    width: 40px;
    height: 180px;
    background-color: darkblue;
    position: fixed;
    right: 0px;
    top: 200px;
    z-index: 200;
}

#twocode li.two {
    background-color: #ff6600;
    position: relative;
}

#twocode li.two div {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0px;
    opacity: 0;
    /*display:none;*/
    overflow: hidden;
}

#twocode img {
    display: block;
}

.lastli {
    position: relative;
}

.lastli span {
    display: block;
    width: 20px;
    height: 20px;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ff6600;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
}

.gototop {
    position: fixed;
    bottom: 100px;
    right: 0;
    width: 30px;
    height: 50px;
    cursor: pointer;
}


/* 清除浮动 */

.fx::after,
.fx::before {
    clear: both;
    content: "";
    display: table;
}
